
<br>
<div class="container">
    <div class="row" align="center">
        <div class="col-md-4 offset-md-4">
            <h3>SignIn Form</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <app-dynamic-contorls [form]="formGroup" key="email"></app-dynamic-contorls>
            <app-dynamic-contorls [form]="formGroup" key="password"></app-dynamic-contorls>   
            <div class="mt-5" align="center">
                <button class="btn btn-primary" [routerLink]="['user-data']">SIGN IN</button>
            </div>
    </div>
</div>